<div *ngIf="chartType === 'bar-vertical'">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Label X"
      yAxisLabel="Label Y">
    </ngx-charts-bar-vertical>
  </div>
  
  <div *ngIf="chartType === 'pie'">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [legend]="true"
      [doughnut]="false">
    </ngx-charts-pie-chart>
  </div>
  
  <div *ngIf="chartType === 'line'">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Label X"
      yAxisLabel="Label Y">
    </ngx-charts-line-chart>
  </div>
  