<mat-sidenav-container autosize class="sidenav">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" class="custom-sidenav" (click)="onContainerClick($event)">
    <div class="sidebar-logo">
      <img src="assets/images/weg-logo.png" alt="Logo" />
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="navigateToDashboard($event)">
        <span class="entry">
          <mat-icon class="dashboard-icon">dashboard</mat-icon>
          <span *ngIf="!isCollapsed">Dashboard</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>