<div class="dashboard-header">
  <div class="header-block">
    <div class="header-title">
      <span>Gráficos de Gerenciamento de Riscos</span>
    </div>
    <div class="header-filters">
      <mat-form-field appearance="fill">
        <mat-label>Selecionar Projeto</mat-label>
        <mat-select [(value)]="selectedProject" (selectionChange)="onProjectChange($event)">
          <mat-option value="all">Todos</mat-option>
          <mat-option *ngFor="let project of projects" [value]="project">{{ project }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="dashboard-container">
  <!-- Linha superior -->
  <div class="top-row">
    <!-- Gráfico 1 -->
    <div class="graph-block large">
      <div class="graph-header">
        <div class="graph-title">
          <span>Previsão de Risco de Atraso por Versão</span>
          <mat-icon
            (click)="openExplanation('Risco de Atraso por Versão', 'Este gráfico mostra o percentual de risco de atraso para cada versão do projeto.')">help_outline</mat-icon>
        </div>
        <hr class="divider" />
      </div>
      <div id="risk-prediction-chart"></div>
    </div>

    <!-- Gráfico 2 -->
    <div class="graph-block large">
      <div class="graph-header">
        <div class="graph-title">
          <span>Percentual de Entrega por Tipo de Issue</span>
          <mat-icon
            (click)="openExplanation('Percentual de Entrega por Tipo de Issue', 'Este gráfico exibe a porcentagem de entrega de issues agrupadas por tipo de issue.')">help_outline</mat-icon>
        </div>
        <hr class="divider" />
      </div>
      <div id="delivery-chart"></div>
    </div>
  </div>

  <!-- Linha inferior -->
  <div class="bottom-row">
    <!-- Gráfico 3 -->
    <div class="graph-block small">
      <div class="graph-header">
        <div class="graph-title">
          <span>Porcentagem de Bugs por Versão</span>
          <mat-icon
            (click)="openExplanation('Porcentagem de Bugs por Versão', 'Este gráfico apresenta a porcentagem de bugs detectados em cada versão.')">help_outline</mat-icon>
        </div>
        <hr class="divider" />
      </div>
      <div id="bug-percentage-chart"></div>
    </div>

    <!-- Gráfico 4 -->
    <div class="graph-block small">
      <div class="graph-header">
        <div class="graph-title">
          <span>Percentual de Issues Críticas</span>
          <mat-icon
            (click)="openExplanation('Percentual de Issues Críticas', 'Este gráfico apresenta a relação percentual entre issues críticas e não críticas para cada versão.')">help_outline</mat-icon>
        </div>
        <hr class="divider" />
      </div>
      <div id="critical-issues-chart"></div>
    </div>

    <!-- Gráfico 5 -->
    <div class="graph-block small">
      <div class="graph-header">
        <div class="graph-title">
          <span>Variância de Planejamento</span>
          <mat-icon
            (click)="openExplanation('Variância de Planejamento', 'Este gráfico mostra a distribuição das issues entre status concluído e outros para cada versão.')">help_outline</mat-icon>
        </div>
        <hr class="divider" />
      </div>
      <div id="planning-variance-chart"></div>
    </div>
  </div>
</div>